In [1]:
import pandas as pd

### Reading into Pandas DataFrame
- ASCII : pd.read_csv()
- Binary : pd.read_excel()

### Writing Pandas DataFrame
- ASCII : df.to_csv()
- Binary : df.to_excel()

In [2]:
file_name = 'data_raw/hrdatabase.txt'

df = pd.read_csv(file_name, 
                header = 0,
                sep = '\s+')

In [4]:
rows = range(0,5)
cols = [0,1,2,5]
df.iloc[rows, cols]

   EMPLOYEE_ID FIRST_NAME LAST_NAME  HIRE_DATE
0          100     Steven      King   20030617
1          101      Neena   Kochhar   20050921
2          102        Lex    DeHaan   20010113
3          103  Alexander    Hunold   20060103
4          104      Bruce     Ernst   20070521

In [7]:
output_file = 'csv_hr_db.csv'
df.to_csv(output_file, sep = ',')

## Pandas: Reading from and Writing to Excel XLSX File Format

In [8]:
file_name = 'data_raw/weather.xlsx'

a = pd.read_excel(file_name)

In [11]:
a
del a

In [14]:
m = pd.read_excel(file_name, sheetn2ame = 'Monday')

In [15]:
m

                Temp_High  Temp_Low
New York               80        55
Salt Lake City         82        47
Palo Alto              76        56

In [16]:
t = pd.read_excel(file_name, sheetname = 'Tuesday')

/home/tushar/anaconda3/lib/python3.7/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [17]:
t

                Temp_High  Temp_Low
New York               78        54
Salt Lake City         85        48
Palo Alto              74        45

In [18]:
humidity_m = pd.read_excel(file_name, sheetname = 'Humidity')

/home/tushar/anaconda3/lib/python3.7/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [19]:
humidity_m

                Humidity
New York              25
Salt Lake City        16
Palo Alto             18
Denver                27

#### Merge different excel sheets

In [20]:
merged  = pd.concat?

In [21]:
merged  = pd.concat([m, humidity_m], 
                   axis = 1)

/home/tushar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [34]:
merged

                Temp_High  Temp_Low  Humidity
Denver                NaN       NaN        27
New York             80.0      55.0        25
Palo Alto            76.0      56.0        18
Salt Lake City       82.0      47.0        16

In [35]:
merged_xlsx_df = pd.concat([merged, t], 
                           keys=['Monday', 'Tuesday'])
print (merged_xlsx_df)

                        Humidity  Temp_High  Temp_Low
Monday  Denver              27.0        NaN       NaN
        New York            25.0       80.0      55.0
        Palo Alto           18.0       76.0      56.0
        Salt Lake City      16.0       82.0      47.0
Tuesday New York             NaN       78.0      54.0
        Salt Lake City       NaN       85.0      48.0
        Palo Alto            NaN       74.0      45.0

/home/tushar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [36]:
merged_xlsx_df.to_excel('weather_write.xlsx',
                       sheet_name = 'Weather',
                        na_rep = 'NaN')