In [7]:
import pandas as pd

## read_json() and to_json()

pd.read_json() can read different formats of JSON data by varying the orient = attribute
-  orient = 'records' LIST like [{column : value}, ... {column:value}]
- orient = 'split' DICT like {index :[index], columns:[columns], data : [values]}
- orient = 'index' DICT like {index:{column:value}}
- orient = 'columns' DICT like {column : {index:value}}
- orient = 'values' :values array

### The df.to_json() function can write different formats of JSON-based data using the corresponding orient=attribute format

## orient = 'records'

In [14]:
data = '''
    [
        {"first" : "Tushar", "last":"Dahibhate", "age":24},
        {"first" : "John", "last":"Wick", "age":40},
        {"first" : "Bilbo", "last":"Baggins", "age":20}
    ]
'''

In [15]:
df = pd.read_json(data, orient='records')

In [16]:
df

   age   first       last
0   24  Tushar  Dahibhate
1   40    John       Wick
2   20   Bilbo    Baggins

## orient = 'split'

In [23]:
data = '''
    {
        "columns" : ["first","last","age"],
        "index" : [0,1],
        "data" : [["John","Wick",40],["Bilbo","Baggins",20]]            
    }
'''

In [24]:
df2 = pd.read_json(data, orient = 'split')

In [25]:
df2

   first     last  age
0   John     Wick   40
1  Bilbo  Baggins   20

## orient = 'index'

In [26]:
data = '''
    {
        "0": {"first":"John","last":"wick","age":40},
        "1": {"first":"frodo","last":"baggins","age":20}        
    }
'''

In [27]:
df3 = pd.read_json(data, orient = 'index')

In [28]:
df3

   age  first     last
0   40   John     wick
1   20  frodo  baggins

## orient = 'columns'

In [31]:
data = '''
    {
        "first": {"0": "John", "1":"frodo"},
        "last": {"0": "Wick", "1":"baggins"},
        "age": {"0": 40, "1":20}
    }
'''

In [32]:
df4 = pd.read_json(data, orient = 'columns')

In [33]:
df4

   first     last  age
0   John     Wick   40
1  frodo  baggins   20

## orient = 'values'

In [34]:
data = '''
    [
        ["John", "Wick",40],
        ["Frodo", "Baggins", 20]
    ]
'''

In [35]:
df5 = pd.read_json(data, orient = 'values')

In [36]:
df5

       0        1   2
0   John     Wick  40
1  Frodo  Baggins  20

## Pandas: Writing a JSON file format with df.to_json()
The df.to_json() function can write different formats of JSON-based data using the corresponding orient=attribute format.

- orient='records': list like [{column : value}, ... , {column : value}]
- orient='split': dict like {index : [index], columns : [columns], data : [values]}
- orient='index': dict like {index : {column : value}}
- orient='columns': dict like {column : {index : value}}
- orient='values': just the values array

In [38]:
df.to_json('records.json', orient = 'records')

In [39]:
df.to_json('split.json', orient = 'split')

In [40]:
df.to_json('index.json', orient = 'index')

In [41]:
df.to_json('columns.json', orient = 'columns')

In [42]:
df.to_json('values.json', orient = 'values')